 *{
    box-sizing: border-box;
}
/* .parent{
    display: flex;
    gap:10px;
    padding: 10px;

}
.box1{
    background-color: blueviolet;
    color: white;
    text-align: center;
    padding: 10px;
    width:33%;
}
.box2{
    background-color: rgb(67, 226, 43);
    color: white;
    text-align: center;
    padding: 10px;
    width:33%;
}
.box3{
    background-color: rgb(226, 43, 156);
    color: white;
    text-align: center;
    padding: 10px;
    width:33%;
} */ 

.parent{
    width:100%;
    display: flex;
    height:100vh;
    align-items: center;
    justify-content: center;
}
img{
    max-width:100%;
    height:auto;
}
@media (max-width:700px) {
    body{
        background-color: rgb(140, 255, 127);
    }
}

@media (min-width:700px) {
    body{
        background-color: aquamarine;
    }
    
}