*{
    box-sizing:border-box;
}
.container{
    width:600px;
    height:3000px;
    background-color: gray;
    margin:50px auto;
}
/* absolute relative sticky fixed */

.box1{
    width:200px;
    height:200px;
    padding:10px;
    border:10px solid red;
    z-index:2px;
    /* position:fixed;
    bottom:100px;
    right:20px; */
    /* position:relative;
    right:100px;
    bottom:100px; */

}

.box2{
    width:200px;
    height:200px;
    padding:10px;
    border:10px solid rgb(0,255,72);
    position:sticky;
    top:10px;
    /* position:fixed;
    bottom:10px;
    right:0px; */
    /* position:absolute;
    right:50px;
    left:50px; */
    /* position:relative;
    left:10px;
    right:50px; */
}

.box3{
    width:200px;
    height:200px;
    padding:10px;
    border:10px solid rgb(255,0,204);
    position:sticky;
    top:100px;
   
}