.parent{
    text-align: center;
    color:white;
    padding-top:125px;
    background-color:lightcyan;
    padding-bottom:170px;
}
.container{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    margin-top:50px;
}
.box1{
    border:2px solid rgb(100, 99, 99);
    width:300px;
    height:430px;
    padding:10px;
    background-color:grey;
    border-radius:5px;
    box-shadow:2px 2px 5px rgb(19, 17, 17);
}
.box2{
    border:2px solid rgb(100, 99, 99);
    width:300px;
    height:430px;
    padding:10px;
    background-color:grey;
    border-radius:5px;
    box-shadow:2px 2px 5px rgb(19, 17, 17);
}
.box3{
    border:2px solid rgb(100, 99, 99);
    width:300px;
    height:430px;
    padding:10px;
    background-color:grey;
    border-radius:5px;
    box-shadow:2px 2px 5px rgb(19, 17, 17);
}
img{
    width:100px;
    height:100px;
    border-radius:50%;
    
}
.box1:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    box-shadow:5px 5px 10px black;
    background-color: rgb(43, 217, 110);
}
.box2:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    box-shadow:5px 5px 10px black;
    background-color:lightcoral;
}
.box3:hover{
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
    box-shadow:5px 5px 10px black;
    background-color:lightskyblue;
}